* { /* Reset de CSS e é utilizada para evitar problemas de cross browser*/

    margin: 0;
    
    padding: 0;
    
    box-sizing: border-box;
    
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    }
    


header {
    background-color: black;
    margin: 0;
    height: 100%;
     margin-top: 0 ;
}



.hero {
    width: 100%;
    margin-top: 0;
}

nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    /* padding-top:40px ; */
    padding-left:25% ;
    padding-right: 20%;
    padding-top: 0;
    width: 100%;
}

nav ul li {
    list-style-type: none;
    display: inline-block;
    padding: 10px 20px;
}

nav ul li a {
    text-decoration: none;
    font-weight: bold;
    color: black;
}

nav ul li a:hover {
    transform: translateY(-4px);
}

.buttonprox {
    width: 5%;
    margin-left: 90%;
    background-color: black;
    border-radius: 30px;

}

body {
    gap: var(--gap);
    width: 100%;
    font-family: system-ui, sans-serif;
    font-size: 1rem;
    line-height: 1.5;
    color: var(--color-text);
    background: rgb(0,0,0);
    background: linear-gradient(90deg, rgba(0,0,0,1) 0%, rgba(82,9,121,1) 35%, rgba(19,0,71,1) 100%); 
}
  
.card {
	display: flex;
	flex-direction: column;
	flex-basis: 300px;
	flex-shrink: 0;
	flex-grow: 0;
     width: 20%;
	background-color: #FFF;
	box-shadow: 0 5px 10px 0 rgba(#000, .15);
	border-radius: 10px;
	overflow: hidden;
	margin: 1rem;
    
    height: 280px;
    -webkit-box-shadow: 0px 6px 13px 7px rgba(0,0,0,0.43);
-moz-box-shadow: 0px 6px 13px 7px rgba(0,0,0,0.43);
box-shadow: 0px 6px 13px 7px rgba(0,0,0,0.43);

}

.card-img {
	padding-bottom: 56.25%;
	position: relative;
}

	.card img {
		position: absolute;
		width: 100%;
        height: 160px;
	}


.card-body {
	padding: 1.5rem;
    padding-top: 0;
}

.card-title {
	font-size: 1.05rem;
	line-height: 1.33;
	font-weight: 400;
}

.card-intro {
	margin-top: .75rem;
	line-height: 1.5;
}

.receitas {
    display: flex;
    width: 100%;
    justify-content: center;
    margin-top: 2%;
}

.receitas2 {
    display: flex;
    width: 100%;
    justify-content: center;
    
}

.buttonVER {
    background-color: gold;
    border-radius: 40px;
    text-align: center;
    width: 140px;
    height: 35px;
    font-size: 20px;
    margin: 10px;
    margin-left: 50px;
    padding-top: 2px;

}

.buttonVER a {
text-decoration: none;
color: purple;
}

footer {
    margin: 0;
    padding: 0;
    background-color: black;
    height: 100px;
    
}
.footerli {
    display: inline;
    margin: 0;
    padding: 15px;
   
    
}
.footera{
    border-bottom: 0px solid rgba(0,0,0,0.95);
    border-radius: 4px;
    box-shadow: inset 0 -3px 0 0 rgba(0,0,0,0), 0 6px 8px rgba(0,0,0,0), 0 24px 24px rgba(0,0,0,0), 0 36px 36px rgba(0,0,0,0), 0 64px 64px rgba(0,0,0,0), 0 64px 128px rgba(0,0,0,0), 0 120px 0 rgba(0,0,0,0), 0 86px 8px 6px rgba(0,0,0,0),;
    display: inline-block;
    height: 30px;
    padding: 20px;
    position: relative;
    transition: .2s ease-in;
    width: 30px;
    

}
.footera:hover {
    transform: translateY(-4px);
}

.footer1 {
  background-color: black;
  
  margin-left: 40%;
}

.nome  {
    width: 100%;
    text-align: center;
    font-size: 28px;
    color: rgba(255, 255, 255, 0.479);
    margin-top: 40px;
      
    }
    